:root {
  --primary-color: #d95d39;
  --secondary-color: #4d8b31;
  --tertiary-color: #a3d9ff;
  --light: #f8fcda;
  --dark: #2e2836;

  --content-max-width: 1280px;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterSemiBold';
  src: url('../public/assets/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  background-color: var(--light);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

img {
  max-width: 100%;
}

input,
textarea {
  font-size: 1rem;
  font-family: 'Inter';
  padding: 0.25rem;
  background-color: var(--light);
}

textarea {
  resize: vertical;
  width: 100% !important;
  min-height: 14rem !important;
  line-height: 1.4;
}

button {
  font-size: 1.3rem;
  font-family: 'Inter';
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: var(--light);
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  padding: 0.5rem 2rem;
}

.max-width-container {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.carousel .control-prev.control-arrow:before {
  border-right: 10px solid black !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 10px solid black !important;
}
