.container {
  background-color: var(--light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  max-width: var(--content-max-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  /* border-bottom: 2px solid var(--dark);
  border-left: 2px solid var(--dark);
  border-right: 2px solid var(--dark); */
}

.container h1 {
  color: var(--dark);
  text-transform: uppercase;
  padding: 0.9rem 0;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

.menu {
  background-color: var(--light);
  position: absolute;
  top: 0;
  right: -100vw;
  width: 100%;
  padding: 2.5rem 0 1.5rem;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%);
  transition: right 250ms;
  z-index: 100;
}

.menu.opened {
  right: 0;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu a {
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  padding: 0.9rem 0;
}

.menuDropdown ul a {
  font-size: 0.875rem;
  text-align: left;
  padding-left: calc(50% - 1rem);
}

.menu a:hover,
.active {
  background-color: var(--dark);
  color: var(--light);
}

.hamburger {
  cursor: pointer;
  width: 2.5rem;
  z-index: 101;
}

.hamburger div {
  width: 80%;
  height: 4px;
  margin-bottom: 4px;
  background-color: var(--dark);
  transition: 250ms;
}

.hamburger.opened div:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 2px;
}
.hamburger.opened div:nth-child(2) {
  display: none;
}
.hamburger.opened div:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  bottom: 6px;
}

@media (max-width: 23.5rem) {
  .container h1 {
    font-size: 0.875rem;
  }
}

@media (min-width: 54rem) {
  .menu {
    position: unset;
    width: auto;
    padding: 0;
    box-shadow: unset;
  }

  .menu ul {
    display: flex;
  }

  .menu a {
    width: 8rem;
  }

  .menuDropdown ul a {
    width: 9rem;
    text-align: center;
    margin-left: auto;
    padding-left: 0;
  }

  .menuDropdown ul {
    position: relative;
    display: flex;
    flex-flow: column;
  }

  .menuDropdown ul {
    display: none;
    position: absolute;
    background-color: var(--light);
    color: var(--dark);
  }

  .menuDropdown:hover ul {
    display: block;
  }

  .hamburger {
    display: none;
  }
}
