.container {
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  max-width: 72rem;
}

.container h1 {
  font-size: 2rem;
  font-weight: normal;
  margin: 5rem auto 2rem;
  max-width: 40rem;
  padding: 0 0.75rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, auto));
}

.card {
  padding: 2rem 1rem;
}

.image {
  margin: 0 auto;
  width: 4rem;
}

.card p {
  margin: 0;
  line-height: 1.4;
}

.card p:first-child {
  font-family: 'InterSemiBold';
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.card p {
  font-size: 0.875rem;
}

.cardText {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 1rem;
}

.tagLine,
.tagLine2 {
  padding: 0 1rem;
  max-width: 52rem;
}

.tagLine {
  text-align: center;
  margin: 3.5rem auto 0;
  font-size: 1.5rem;
}
.tagLine2 {
  font-size: 1rem;
  margin: 1.5rem auto 6rem;
  max-width: 30rem;
}
